<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>新增图片</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <!--标签插件-->
    <link rel="stylesheet" href="js/jquery-tags-input/jquery.tagsinput.min.css">
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>
<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
    <div id="innerdiv" style="position:absolute;">
        <img id="bigimg" style="border:5px solid #fff;" src="" />
    </div>
</div>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="index"><img src="images/logo-sidebar.png" title="LightYear" alt="LightYear" /></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">

                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item"> <a href="index"><i class="mdi mdi-home"></i> 后台首页</a> </li>
                    </ul>
                    <ul class="nav nav-drawer">
                        <li class="nav-item"> <a href="flow"><i class="mdi mdi-home"></i> 流水线</a> </li>
                    </ul>
                </nav>
            </div>

        </aside>
        <!--End 左侧导航-->

        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <span class="navbar-page-title">添加->操作指导书</span>
                    </div>

                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <img class="img-avatar img-avatar-48 m-r-10" src="images/users/avatar.jpg" alt="笔下光年" />
                                <span>笔下光年 <span class="caret"></span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li> <a href="lyear_pages_profile.html"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                                <li> <a href="lyear_pages_edit_pwd.html"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                                <li> <a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                                <li class="divider"></li>
                                <li> <a href="lyear_pages_login.html"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                            </ul>
                        </li>
                        <!--切换主题配色-->
                        <li class="dropdown dropdown-skin">
                            <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
                            <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                                <li class="drop-title"><p>主题</p></li>
                                <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                    <label for="site_theme_1"></label>
                  </span>
                                    <span>
                    <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                    <label for="site_theme_2"></label>
                  </span>
                                    <span>
                    <input type="radio" name="site_theme" value="translucent" id="site_theme_3">
                    <label for="site_theme_3"></label>
                  </span>
                                </li>
                                <li class="drop-title"><p>LOGO</p></li>
                                <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                    <label for="logo_bg_1"></label>
                  </span>
                                    <span>
                    <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                    <label for="logo_bg_2"></label>
                  </span>
                                    <span>
                    <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                    <label for="logo_bg_3"></label>
                  </span>
                                    <span>
                    <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                    <label for="logo_bg_4"></label>
                  </span>
                                    <span>
                    <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                    <label for="logo_bg_5"></label>
                  </span>
                                    <span>
                    <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                    <label for="logo_bg_6"></label>
                  </span>
                                    <span>
                    <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                    <label for="logo_bg_7"></label>
                  </span>
                                    <span>
                    <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                    <label for="logo_bg_8"></label>
                  </span>
                                </li>
                                <li class="drop-title"><p>头部</p></li>
                                <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                    <label for="header_bg_1"></label>
                  </span>
                                    <span>
                    <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                    <label for="header_bg_2"></label>
                  </span>
                                    <span>
                    <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                    <label for="header_bg_3"></label>
                  </span>
                                    <span>
                    <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                    <label for="header_bg_4"></label>
                  </span>
                                    <span>
                    <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                    <label for="header_bg_5"></label>
                  </span>
                                    <span>
                    <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                    <label for="header_bg_6"></label>
                  </span>
                                    <span>
                    <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                    <label for="header_bg_7"></label>
                  </span>
                                    <span>
                    <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                    <label for="header_bg_8"></label>
                  </span>
                                </li>
                                <li class="drop-title"><p>侧边栏</p></li>
                                <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                    <label for="sidebar_bg_1"></label>
                  </span>
                                    <span>
                    <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                    <label for="sidebar_bg_2"></label>
                  </span>
                                    <span>
                    <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                    <label for="sidebar_bg_3"></label>
                  </span>
                                    <span>
                    <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                    <label for="sidebar_bg_4"></label>
                  </span>
                                    <span>
                    <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                    <label for="sidebar_bg_5"></label>
                  </span>
                                    <span>
                    <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                    <label for="sidebar_bg_6"></label>
                  </span>
                                    <span>
                    <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                    <label for="sidebar_bg_7"></label>
                  </span>
                                    <span>
                    <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                    <label for="sidebar_bg_8"></label>
                  </span>
                                </li>
                            </ul>
                        </li>
                        <!--切换主题配色-->
                    </ul>

                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <form id="uploadForm" class="row">
                                    <div class="form-group col-md-12">
                                        <label for="folderName">流水线</label>
                                        <input type="hidden" id="id" >
                                        <div class="form-controls">
                                            <select name="type" class="form-control" id="folderName"></select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="name">设备编号</label>
                                        <input type="text"  onkeyup="value=value.replace(/[\u4e00-\u9fa5]/ig,'')" class="form-control" id="name" name="name" value="" placeholder="如:01-xx、02-xx" />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>图片上传</label>
                                        <div class="form-controls">
                                            <ul class="list-inline clearfix lyear-uploads-pic" id="showImgs">
                                                <li style="height: 175px" class="col-xs-4 col-sm-3 col-md-2">
                                                    <a class="pic-add" id="add-pic-btn" onclick="openFile()" title="点击上传"></a>
                                                </li>
                                                <input type="file" style="display:none;" accept="image/*"  name="uploadFile" id="uploadFile">
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
<!--                                        <button type="button" class="btn btn-primary ajax-post" onclick="uploadForm()" target-form="add-form">确 定</button>-->
                                        <button type="button" class="btn btn-primary ajax-post" onclick="uploadChildren()" target-form="add-form">确 定</button>
                                        <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                                    </div>

                                    <div id="tempFileName" style="display: none">

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<!--标签插件-->
<script src="js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        getFlowInfo();
        initUploadFile();
    });
    /*获取流水号*/
    function getFlowInfo(){
        var param = {'id':getUrlParam('id')}
        $.ajax({
            url: 'upload/getFolder',
            type: 'get',
            data:param,
            success:function(result){
                if (result.code ==0 ) {
                    var option = "";
                    option+="<option value="+result.data.id+">"+result.data.originName+"</option>"
                    $('#folderName').append(option);
                    $('#id').val(result.data.id);
                } else {
                    alert("请求错误")
                }
            }
        });
    }
    //方法一：
    //获取url中的参数
    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return encodeURI(r[2]); return null; //返回参数值
    }





    //文件上传部分
    function initUploadFile() {
        $("#uploadFile").change(function() {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;
            var $img = $("#showImgs");
            var li = "";
            if(fileObj && fileObj.files && fileObj.files[0]){
                // dataURL = windowURL.createObjectURL(fileObj.files[0]);
                // li+="<li className='col-xs-4 col-sm-3 col-md-2'>";
                // li+="<figure>";
                // li+="<img src='"+dataURL+"' width='250px' height='175px'/>";
                // li+="<figcaption><a class='btn btn-round btn-square btn-primary'><i class='mdi mdi-eye'></i></a>";
                // li+=" <a class='btn btn-round btn-square btn-danger' onclick='rm(this)' ><i class='mdi mdi-delete'></i></a></figcaption></figure></li>";
                // li+="</figcaption>";
                // li+="</figure>";
                // li+="</li>";
                // $img.append(li);
                //-------------------------------上面是原先的方案------------------------------------
                /*现在先将文件上传到临时文件中后添加到指定文件中*/
                var formData = new FormData();
                formData.append("uploadFile",$("#uploadFile")[0].files[0]);
                $.ajax({
                    url: 'upload/image',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success:function (result) {
                        if (result.code ==0) {
                            console.log(result.data.filename);
                            var img =JSON.stringify(result);
                            dataURL = windowURL.createObjectURL(fileObj.files[0]);
                            li+="<li className='col-xs-4 col-sm-3 col-md-2'>";
                            li+="<figure>";
                            li+="<img src='"+dataURL+"' width='250px' height='175px'/>";
                            li+="<figcaption><a class='btn btn-round btn-square btn-primary'><i class='mdi mdi-eye'></i></a>";
                            li+="<input name='filename' type='hidden' value='"+result.data.filename+"' />"
                            li+="<a class='btn btn-round btn-square btn-danger' onclick='rm(this,"+img+")' ><i class='mdi mdi-delete'></i></a></figcaption></figure></li>";
                            li+="</figcaption>";
                            li+="</figure>";
                            li+="</li>";
                            $img.append(li);


                        } else {
                            alert("上传失败!")
                        }
                    }
                });
            } else{
                dataURL = $file.val();
                var imgObj = document.getElementById("preview");
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
            }
        });
    }

    function openFile(){
        $('#uploadFile').click();
    }

    function rm(obj,filename){
        var removeImg=$(obj);
        console.log("filename->"+filename.data.filename)
        removeImg.parent().parent().parent().remove();
        //----------------------------------------------------删除临时文件夹中的图片
        var param = {'filename':filename.data.filename}
        $.ajax({
            url: 'upload/delImg',
            type: 'GET',
            data:param,
            success:function (result) {

            }
        });
    }

    function uploadForm() {
        var formData = new FormData();
        formData.append("uploadFile",$("#uploadFile")[0].files[0]);
        formData.append("fid",$("#id").val())
        formData.append("name",$("#name").val())
        $.ajax({
            url: 'children/addChildrenFolder',
            type: 'POST',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success:function (result) {
                if (result.code ==0) {
                    alert("上传成功!")
                    location.href = "image?id="+getUrlParam('id');
                } else {
                    alert("上传失败!")
                }
            }
        });
    }

    function deleteImg(filename) {
        var formData = {'filename':filename}
        $.ajax({
            url: 'upload/delImg',
            type: 'GET',
            data: formData,
            success:function (result) {
                if (result.code==0) {
                    alert("请求成功")
                }
            }
        });
    }

    function uploadChildren() {
        var filenames = new Array();
        $("input[name='filename']").each(function (){
            filenames.push($(this).val())
        });
        if (filenames.length>0) {
            console.log("上传的文件名为:"+filenames);
        } else {
            alert("上传的文件不能为空")
            return;
        }
        var name = $("#name").val()
        console.log("name--->"+name)
        if (name.isEmpty||name.length==0) {
            alert("输入的设备名称不能为空")
            return;
        }
        var stringFilename=""
        $.each(filenames,function (i,filename){
            if (i !=filenames.length-1)
                stringFilename+=filename+","
            else
                stringFilename+=filename
        });
        console.log("整理后的字符串为:"+stringFilename)
        var param = {
            'fid':getUrlParam('id'),
            'name':name,
            'filenames':stringFilename
        }
        $.ajax({
            url: 'children/addChildrenFolder2',
            type: 'get',
            data: param,
            success:function (result) {
                if (result.code==0) {
                    alert("添加成功!")
                    location.href = "image?id="+getUrlParam('id');
                }
            }
        });
    }
</script>
</body>
</html>